index/
*.fa
.snakemake/
mapped/
merged_hap1_hap2_NC_no_autosomes/
merged_hap1_hap2_NC_no_autosomes.fa
STARmapped/
LICENSE
gff/
merged_hap1_hap2_NC_no_autosomes.fa.gz
logs/bamqc/
bamqc/SCF2m12/css/
bamqc/ScF2f5/css/
